.btn-cal {
    position: relative;
    top: 0;
    right: 19px;
}

.heading-text {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 50px;
}

.answer {
    color: red;
    font-size: 21px;
}

.element {
    font-size: 20px;
}